<style>
    table, th, tr, td, table a {
        transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border 300ms ease-in-out;
    }

    table {
        border: 2px solid black;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #aaaaaacc;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #eeeeeecc;
    }

    tr:nth-child(odd) {
        background-color: #ffffffcc;
    }

    .dark th, .dark td {
        border: 1px solid #55555550;
        padding: 8px;
    }

    .dark tr:nth-child(even) {
        background-color: #22222250;
    }

    .dark tr:nth-child(odd) {
        background-color: #00000050;
    }

    .dark table a {
        color: deepskyblue;
    }

    .dark table a:visited {
        transition: none;
        color: mediumorchid;
    }

    .dark table a:active {
        transition: none;
        color: pink;
    }

    a.logout {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
</style>
<h1>World Downloads</h1>
<p>You are signed in as <strong><%= username _%></strong>. <a class="button logout" href="/logout">Logout</a></p>

<table>
    <tr>
        <th>Download</th>
        <th>Size</th>
    </tr>
    <% allowedFiles.map((file) => { %>
        <tr><td style="text-align: left"><a href="/downloads/<%=encodeURIComponent(file.name)%>"><%=file.name%></a></td><td><%=file.size%></td></tr>
    <% }) %>
</table>
