<h1>World Downloads</h1>
<p>You are signed in as <strong><%= username _%></strong>. <a class="button logout" href="/logout">Logout</a></p>
<a class="button" href="/downloads">Current Season</a>
<a class="button" href="/old_downloads">Previous Seasons</a>
