<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title _%></title>
<script src="/static/scripts/themetoggle.js"></script>
<script>
    updateItemToggleTheme();
</script>
    
<style>
<% const background = Math.floor(Math.random() * 7) + 1 %>
    @font-face {
        font-family: Minecraft; 
        src: url("/static/fonts/minecraft_regular.woff2") format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: Minecraft; 
        src: url("/static/fonts/minecraft_italic.woff2") format('woff2');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: Minecraft; 
        src: url("/static/fonts/minecraft_bold.woff2") format('woff2');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: Minecraft; 
        src: url("/static/fonts/minecraft_bolditalic.woff2") format('woff2');
        font-weight: bold;
        font-style: italic;
    }

    * {
        box-sizing: border-box;
    }

    body {
        padding: 30px;
        margin: 0;
        min-height: 100dvh;

        display: flex;
        justify-content: left;
        align-items: flex-start;
        
        font-family: "Minecraft", sans-serif;
        font-size: 1.25rem;

        position: relative;

        transition: all 300ms ease-in-out;
    }

    .dark > body {
        color: white;
    }

    #light-background, #dark-background {
        position: absolute;
        inset: 0;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #dark-background {
        background-image: url("/static/backgrounds/<%- background %>_dark.webp");
        transition: opacity 300ms ease-in-out;
        opacity: 1;
    }

    #light-background {
        background-image: url("/static/backgrounds/<%- background %>_light.webp");
        z-index: -1;
    }

    .light #dark-background {
        opacity: 0;
    }

    main {
        background-color: #ffffff90;
        backdrop-filter: blur(5px);
        padding: 30px;
        box-shadow: #000000aa 0px 0px 50px 0px;
        margin: auto;
        text-align: center;
        transition: background-color 300ms ease-in-out;
    }

    .dark main {
        background-color: #00000050;
    }

    a.button {
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 0.7em 1em;
        background-color: #3D8527;
        box-shadow: inset 0 -0.3em 0 #2A641C, inset 0 0.3em 0 #51A535;
        display: inline-block;
    }

    a.button:hover {
        background-color: #377823;
    }

    a.button:active {
        background-color: #2A641C;
        box-shadow: none;
    }

    h1 {
        margin-top: 0;
    }
</style>

