<!doctype html>
<html class="dark">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/theme-switcher.ejs') %>
    <div id="dark-background"></div>
    <div id="light-background"></div>
    <main>
      <%- body %>
    </main>
</body>
</html>
